/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: @screen-sm-min) {
        #logo {  
                background-size:contain;  
                width:210px;  
        } 
	#mission-statement{
		top:65px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	#mission-statement {
		top: 100px;
		width: 700px;
		left: 50%;
		margin-left: -350px;
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	#nav-toggle{
		display:none;
	}
	
	.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
	}
	
	#primary-nav li {
		width: 14%;
	}
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
}
