/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: @screen-phone) { /* "phone" */
	#mission-statement p{
		/*top:55px;*/
		top:-680px;
		font-size:1.0em;
	}
	.private{
		min-height:230px;
	}
	#team-slideshow .full-width-image a{
		background-position: 50% 50%;
	}
	.floorplan{
		margin: 0 auto 0 auto;
	}
	.private-1, .private-2{
		background-size: contain;
		background-position:50% 50%;
	}
	#neighborhood-image{
		background-size:contain;
		background-repeat:no-repeat;
		min-height:186px;
		background-color:@white;
	}
	#neighborhood-map{
		background-size: cover;;
		background-position: 15% center;
	}
	.text-block{
		height:auto;
	}

}


@media (max-width: @screen-sm-min) { /* "tablet" */
	#logo {
		background-size:contain;
		width:210px;
		background-position-y:50%;
	}
	#mission-statement p{
		top:55px;
		font-size:1.0em;
	}
	.rental-alternative-body{
		padding-left:40px;
	}
	.text-block{
		height:auto;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
       #neighborhood-map{
                 background-position: center center;
        } 
	#mission-statement {
		/*top: 100px;*/
		top: -650px;
		left: 0px;
		/*width: 700px;*/
		/*left: 50%;*/
		/*margin-left: -350px;*/
	}
	#resident-profiles .top-border{
		left:5.5%;
		right:5.5%;
	}

	.rental-alternative-body{
		padding-left:40px;
	}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {


	#primary-nav{
		li{
			text-align:center;
			padding-right:0;
		}
	}
	
	.rental-alternative-body{
		padding-left:40px;
	}
	
	#resident-profiles .top-border{
		left:8%;
		right:8%;
	}

	#nav-toggle {
		display:none;
	}

	#primary-nav {
		.collapse {
			display: block!important;
			height: auto!important;
			padding-bottom: 0;
			overflow: visible!important;
		}
		li {
			/*width: 11%;*/
		}
		li.m_project			{width:11.2%;}
		li.m_plaza			{width:8.32%;}
		li.m_coliving			{width:12.22%;}
		li.m_neighborhood		{width:16.66%;}
		li.m_process			{width:11.59%;}
		li.m_team			{width:8.87%;}
		li.m_residents			{width:12.55%;}
		li.m_contact			{width:15.67%;}
	}/*end #primary-nav */
	
	#mission-statement {
		/*top: 130px;*/
		top:-650px;
		left: 0px;
		.mission-text{
			margin-left:8.33333333%; 
			width:83.3333333%;
			p{
				font-size:1.4em;
			}
		}
	}
	.facebook, .twitter{
		padding-left:0px;
	}

        #nav-space{
                width:940px;
                margin: 0 auto;
        }
	
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	#mission-statement {
		top: -680px;
		.mission-text{
			p{
				font-size:1.6em;
			}
		}
	}
	#resident-profiles .top-border{
		left:7%;
		right:7%;
	}
	#nav-space{
		width:1104px;
		margin: 0 auto;
	}
}
