---
title: 1532 Harrison | FAQ
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>{{ page.title }}</title>
		<link href="css/bootstrap.css" rel="stylesheet">


		{% include scripts.html %}
	</head>

	<body>
		{% include faq-header.html %}

		<section>
			<div class="container">
				<div class="row" style="padding-top:20%">
					<div class="col-md-12 background-clr-2">
						<h2 class="text-center section-title">
							Thanks for your interest in the 1532 Harrison Street project.
						</h2>
					</div>
					<div class="col-md-12 background-clr-0">
						<div class="col-md-6 background-clr-0 bspecial" style="padding-bottom: 50px;">
							<h2><span class="glyphicon glyphicon-download"></span></a> CoLiving FAQs</h2>
							<ul class="clean">
								<li>What is CoLiving?</li>
								<li>Who typically lives in a CoLiving house?</li>
								<li>What is the difference between and SRO and a CoLiving project?</li>
								<li>If I am interested in living here, how can I find out more?</li>
							</ul>
							<a href="/faqs/Coliving.pdf" style="padding-left:40px">Download</a>
						</div>
						<div class="col-md-6 background-clr-0 bspecial" style="padding-bottom: 50px;">
							<h2><span class="glyphicon glyphicon-download"></span></a> 1532 Harrison FAQs</h2>
							<ul class="clean">
								<li>What is the process for approvals?</li>
								<li>How long will the approvals process take?</li>
								<li>How long will it take to construct the building?</li>
								<li>Is it consistent with the Western SOMA Plan?</li>
								<li>What is Eaglet Plaza? Will it grow into Eagle Plaza?</li>
								<li>How much parking?</li>
								<li>Are there any BMR units?</li>
								<li>Will the project be green/sustainable?</li>
								<li>Will they be condos or rental?</li>
								<li>How will the new project affect traffic in the area?</li>
								<li>We are concerned about how more residential traffic affect existing nightclub uses. What will the owner do to safeguard existing night time uses?</li>
								<li>Will there be a commercial or retail space in the building? What will it be?</li>
							</ul>
							<a href="/faqs/1532Harrison.pdf" style="padding-left:40px">Download</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="contact">
			{% include contact.html %}
		</section>

		{% include modal.html %}
		{% include analytics.html %}
	</body>
</html>
