---
title: 1532 Harrison
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>{{ page.title }}</title>
		<link href="css/bootstrap.css" rel="stylesheet">


		{% include scripts.html %}
	</head>

	<body>
		{% include header.html %}

		<section id="introduction">
			<div class="container">
				<div class="row">
					<div class="masthead-image">
						<div class="scrollblock" style="position:relative !important;">
							<div class="transparent-background"></div>
								{% include mission-statement.html %}
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="the-project">
			<div class="container">
				<div class="row">
					<div class="col-md-6 image-block" style="background:url('img/block-rendering.jpg');background-position:50% 50%;"> </div>
					<div class="col-md-6 text-block background-clr-1">
						{% include purpose.html %}
					</div>
				</div>
			</div>
		</section>

		{% include building-drawings.html %}

		<section id="coliving-overview">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-block background-clr-2">
						{% include rethinking-home.html %}
					</div>
					<div class="col-md-6 image-block" style="background:url('img/rethinking-photo.jpg');background-position:50% 50%;"></div>
				</div>
				
				<div class="row background-clr-1 pad-me">
					<div class="col-lg-6">
						<div id="floorplan-conventional" class="floorplan"></div>
						<h3 class="text-center">Standard Studio/Micro-Unit Layout</h3>
						<ul class="list-unstyled">
							<li class="text-center">No Shared Living Space</li>
							<li class="text-center">Approx. 6.5 Conventional Studios</li>
						</ul>
					</div>
					<div class="col-lg-6">
						<div id="floorplan-coliving" class="floorplan"></div>
						<h3 class="text-center">Coliving Housing Approach</h3>
						<ul class="list-unstyled">
							<li class="text-center">Shared Living Space (living, dining, cooking &amp; laundry)</li>
							<li class="text-center">9 Private Suites (each has its own bathroom, kitchenette &amp; private balcony)</li>
						</ul>
						
					</div>
				</div>
				<div class="row background-clr-0">
					<div class="col-md-6 private private-1"></div>
					<div class="col-md-6 private private-2"></div>
				</div>
			</div>
		</section>

		<section id="alternative">
			<div class="container">
				<div class="row background-clr-2">
					<h2 class="text-center section-title"><span data-toggle="collapse" data-target="#rental-alternative-details" id="rental-alternative-header">
						A Rental Apartment Alternative <!-- <span class=" pull-right" id="rental-alternative-chevron">&gt;</span></span> -->
					</h2>
				</div>
			</div>
			{% include rental-alternative.html %}
		</section>

		<section id="neighborhood">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div id="neighborhood-imageXXX">
							<img src="/img/soma.jpg" style="height:auto; width:100%">
						</div>

					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div id="neighborhood-map" class="col-md-6"></div>
					<div class="col-md-6 text-block background-clr-1" style="overflow:scroll;">
						{% include neighborhood.html %}
					</div>
				</div>
			</div>

		</section>


		<section id="plaza">
			<div class="container">
				<div class="row background-clr-2">
					<h2 class="text-center section-title">Eagle Plaza</h2>
				</div>
			</div>
			{% include plaza.html %}
		</section>


		<section id="community-involvement">
			<div class="container">
				<div class="row background-clr-2">
					<h2 class="text-center section-title">Process</h2>
				</div>
			</div>
			<div id="process-details">
				<div class="container background-clr-1">
					<div class="row pad-me">
						{% include community-workshops.html %}
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row background-clr-4">
					<h2 class="text-center section-title" data-toggle="collapse" data-target="#more-process" id="more-process-header">
						More Process <!-- <span class=" pull-right" id="process-chevron">&gt;</span> -->
					</h2>
				</div>
			</div>
			
			<div class="container collapse.in" id="more-process" >
				<div class="row pad-me background-clr-0">
					{% include public-process.html %}
				</div>
			</div>

		</section>


		<section id="team">
			<div class="container">
				<div class="row">
						{% include the-team.html %}
				</div>
			</div>
		</section>

		<section id="residents">
			<div class="container">
				<div class="row background-clr-2">
					<h2 class="text-center section-title">Meet Prospective Residents</h2>
				</div>
			</div>
			<div class="container">
				<div class="row background-clr-0">
					<div class="col-md-6 bspecial" >
						{% include residents-intro.html %}
					</div>
					<div class="col-md-6 bspecial">
						{% include news.html %}
					</div>
					<div class="col-md-12 " id="resident-profiles">
						{% include profiles.html %}
					</div>
					
				</div>
			</div>
		</section>

		<section id="contact">
			{% include contact.html %}
 		</section>

		{% include modal.html %}
	</body>
</html>
