---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>1532 Harrison</title>
		<link href="css/bootstrap.css" rel="stylesheet">
		{% include scripts.html %}
	</head>

	<body>
		{% include header.html %}

		<section id="introduction">
			<div class="container">
				<div class="row">
					<div class="full-width-image" style="background:url('img/building-rendering.jpg');">
						<div class="scrollblock">
							<div class="transparent-background"></div>
							<div id="mission-statement" class="text-white container">
								{% include mission-statement.html %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="the-project">
			<div class="container">
				<div class="row">
					<div class="col-md-6 image-block" style="background:url('img/block-rendering.jpg')"></div>
					<div class="col-md-6 text-block background-clr-1">
						{% include purpose.html %}
					</div>
				</div>
			</div>
		</section>

		{% include building-drawings.html %}

		<section id="coliving-overview">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-block background-clr-2">
						{% include rethinking-home.html %}
					</div>
					<div class="col-md-6 image-block" style="background:url('img/rethinking-photo.jpg')"></div>
				</div>
				
				<div class="row background-clr-1 pad-me">
					<h2 class="text-center">See the Difference</h2>
					<div class="col-md-6">
						<div id="floorplan-conventional" class="floorplan"></div>
						<h3 class="text-center">Standard Studio/Micro-Unit Layout</h3>
						<ul class="list-unstyled">
							<li class="text-center">No Shared Living Space</li>
							<li class="text-center">Approx. 6.5 Conventional Studios</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div id="floorplan-coliving" class="floorplan"></div>
						<h3 class="text-center">Coliving Housing Approach</h3>
						<ul class="list-unstyled">
							<li class="text-center">Shared Living Space (living, dining, cooking &amp; laundry)</li>
							<li class="text-center">9 Private Suites (each has its own bathroom, kitchenette &amp; private balcony)</li>
						</ul>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 image-block" style="background:url('img/private-unit-1.jpg')"></div>
					<div class="col-md-6 image-block" style="background:url('img/private-unit-2.jpg')"></div>
				</div>
			</div>
		</section>

		<section id="alternative">
			<div class="container">
				<div class="row pad-me background-clr-2">
					<h2 class="text-center" data-toggle="collapse" data-target="#rental-alernative-details">A Rental Apartment Alternative &gt;</h2>
				</div>
			</div>
			{% include rental-alternative.html %}
		</section>

		<section id="neighborhood">
			<div class="container">
				<div class="row">
					<div class="col-md-12 image-block">
						<div id="neighborhood-image"></div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div id="neighborhood-map" class="col-md-6 image-block" style="background:url('img/map.jpg')"></div>
					<div class="col-md-6 text-block background-clr-1" style="overflow:scroll;">
						{% include neighborhood.html %}
					</div>
				</div>
			</div>

		</section>

		
		<section id="community-involvement">

			<div class="container">
				<div class="row pad-me">
					<div class="col-md-6">
						{% include public-process.html %}
					</div>
					<div class="col-md-6">
						{% include meeting-timeline.html %}
					</div>
				</div>
			</div>
			
			<div>
				<div class="container background-clr-1">
					<div class="row pad-me">
						{% include community-workshops.html %}
					</div>
				</div>
			</div>
		</section>


		<section id="team">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-block background-clr-2">
						{% include the-team.html %}
					</div>
				</div>
			</div>
		</section>

		<section id="tenants">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-block">
						{% include tenants.html %}
					</div>
					<div class="col-md-6-fluid text-block">
						{% include news.html %}
					</div>
				</div>
			</div>
		</section>

		<section id="contact">
			{% include contact.html %}
		</section>

		{% include modal.html %}

	</body>
</html>