		<section id="building-drawings">
			<div class="container slideshow-container">
				<div class="flip-nav flip-nav-left js-slide-previous">
					<div class="table-cell">&lt;</div>
				</div>
				<div class="flip-nav flip-nav-right js-slide-next">
					<div class="table-cell">&gt;</div>
				</div>
				<div id="drawing-slideshow" class="slideshow">
					<div class="slide">
						<img src="img/drawings-01.jpg" alt="building renders">
					</div>
					<div class="slide">
						<img src="img/drawings-02.jpg" alt="building renders">
					</div>
				</div>
			</div>
		</section>
