<section id="building-drawings" class="background-clr-0">
	<div class="container slideshow-container background-clr-0">
		<div class="flip-nav flip-nav-left"><!-- js-slide-previous">-->
			<div class="table-cell volume-chevron" style="display:none;">&lt;</div>
		</div> 
		<div class="flip-nav flip-nav-right"> <!--  js-slide-next"> -->
			<div class="table-cell volume-chevron" style="display:none;">&gt;</div>
		</div>
		<div class="">
		</div>
		<div id="drawing-slideshow" class="slideshow">
			<div class="slide">
				<img src="img/drawings-01.jpg" alt="building renders">
			</div>
			<div class="slide">
				<img src="img/drawings-02.jpg" alt="building renders">
			</div>
		</div>
		<div class=""><p class="drag-swipe text-center">Swipe or Drag</p></div>
       </div>
</section>
