<div class="col-md-5 bspecial">
	<h2 class="no-top">Community Workshops</h2>
	<p>Our community workshops are designed to be interactive.  After all, the success of coliving is based on effective sharing and collaboration.</p>
<p>
We are also happy to meet with smaller groups of neighbors or interested parties for one-on-one meetings&mdash;just contact <a href="mailto:info@1532harrison.com">Katie </a>, Build Inc’s project manager, to set up an appointment.</p>
	<button class="primary-button" data-toggle="modal" data-target="#myModal" style="margin-left:10px;">Stay Updated</button>
</div>
<div class="col-md-6 col-md-offset-1 bspecial">
	<div class="meeting row">
		<h2 class="no-top" style="padding-left:15px;">Public Process Timeline</h2>
		<div class="col-md-4 meeting-date">JUL 2014</div>
		<div class="col-md-8 meeting-info">
			<h3>West SoMa Neighbors Meeting 1 (Joint 1532 Harrison and Eagle Plaza Presentation)</h3>
			Time and Location TBD
		</div>
	</div>

	<div class="meeting row">
		<div class="col-md-4 meeting-date">JUL 2014</div>
		<div class="col-md-8 meeting-info">
			<h3>Eagle Plaza (Pop-up) Design Charrette</h3>
			Time and Location TBD	
		</div>
	</div>

	<div class="meeting row">
		<div class="col-md-4 meeting-date">AUG 2014</div>
		<div class="col-md-8 meeting-info">
			<h3>Eagle Plaza (Pop-up) Follow up</h3>
			Time and Location TBD
		</div>
	</div>

	<div class="meeting row">
		<div class="col-md-4 meeting-date">DEC 2014</div>
		<div class="col-md-8 meeting-info">
			<h3>West SoMa Neighbors Meeting 2 (Joint 1532 Harrison and Eagle Plaza Presentation)</h3>
			Time and Location TBD
		</div>
	</div>
</div>
