<div class="container background-clr-1">
	<div class="row">
		<div class="col-md-4 contact-element">
			<h3>CONTACT</h3>
			<a href="mailto:info@1532harrison.com">info@1532harrison.com</a>
			<h3>PROJECT LOCATION</h3>
			1532 Harrison Street<br />
			San Francisco, CA 94103
		</div>
		<div class="col-md-4 contact-element" >
			<button class="primary-button" data-toggle="modal" data-target="#myModal" stlye="margin-bottom:20px;">Download FAQ</button>
			<button class="primary-button" data-toggle="modal" data-target="#myModal">Stay Updated</button>
		</div>
		<div class="col-md-2 contact-element facebook">
			<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2F1532Harrison.com" target="_blank" id="facebook-btn" class="square-btn"></a>
		</div>
		<div class="col-md-2 contact-element twitter">
			<a href="https://twitter.com/intent/tweet?source=webclient&text=See%20Build%2C%20Inc.%27s%20newest%20project.%20Coliving%20applies%20sharing%20economy%20ideas%20to%20make%20market%20rate%20housing%20more%20affordable.%20http%3A%2F%2F1532Harrison.com" target="_blank" id="twitter-btn" class="square-btn"></a>
		</div>

	</div>
</div>
