<div class="container background-clr-1">
	<div class="row">
		<div class="col-md-4" style="padding-top:10px; padding-left:40px;">
			<h3>CONTACT</h3>
			<a href="mailto:info@1532harrison.com">info@1532harrison.com</a>
			<h3>PROJECT LOCATION</h3>
			1532 Harrison Street<br />
			San Francisco, CA 94103
		</div>
		<div class="col-md-4 padded">
			<button class="primary-button" data-toggle="modal" data-target="#myModal" stlye="margin-bottom:20px;">Download FAQ</button>
			<button class="primary-button" data-toggle="modal" data-target="#myModal">Stay Updated</button>
		</div>
		<div class="col-md-2 padded">
			<a href="http://facebook.com/1532Harrison" target="_blank" id="facebook-btn" class="square-btn"></a>
		</div>
		<div class="col-md-2 padded">
			<a href="http://twitter.com/1532Harrison" target="_blank" id="twitter-btn" class="square-btn"></a>
		</div>

	</div>
</div>
