<header id="site-header">
	<div id="logo"></div>
	<a id="nav-toggle" data-toggle="collapse" href="#nav-bar-collapse">
		<svg width="54" height="54" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
			<g>
				<path fill="none" stroke="#1a1a1a" stroke-width="3" stroke-linejoin="bevel" d="m 5,20 40,0"/>
				<path fill="none" stroke="#1a1a1a" stroke-width="3" stroke-linejoin="bevel" d="m 5,28 40,0"/>
				<path fill="none" stroke="#1a1a1a" stroke-width="3" stroke-linejoin="bevel" d="m 5,36 40,0"/>
			</g>
		</svg>
	</a>
	<nav id="primary-nav">
		<div class="container">
			<ul class="list-unstyled list-inline row collapse" id="nav-bar-collapse">
				<li class="m_project"			><a  href="/#the-project">Project</a></li>
				<li class="m_plaza"				><a  href="/#plaza">Plaza</a></li>
				<li class="m_coliving"		><a  href="/#coliving-overview">Coliving</a></li>
				<li class="m_neighborhood"><a  href="/#neighborhood">Neighborhood</a></li>
				<li class="m_process"			><a  href="/#community-involvement">Process</a></li>
				<li class="m_team"				><a  href="/#team">Team</a></li>
				<li class="m_residents"		><a  href="/#residents">Residents</a></li>
				<li class="m_contact"			><a  href="/#contact">FAQs / Contact</a></li>
			</ul>
		</div>
	</nav>
</header>
