<h2 class="no-top">Public Process Timeline</h2>						
<div class="meeting row">
							<div class="col-md-4 meeting-date">OCT 2013</div>
							<div class="col-md-8 meeting-info">
								<h3>Preliminary Project Assessment Submitted</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">DEC 2013</div>
							<div class="col-md-8 meeting-info">
								<h3>Environmental Evaluation Application Submitted</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">MAY 2014</div>
							<div class="col-md-8 meeting-info">
								<h3>CEQA Planner Assigned</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">JUN 2014</div>
							<div class="col-md-8 meeting-info">
								<h3>Environmental Review Begins</h3>
							</div>
						</div>
						
						<div class="meeting row">
							<div class="col-md-4 meeting-date">JUN 2014</div>
							<div class="col-md-8 meeting-info">
								<h3>West SoMa Neighbors Meeting 1</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">JUL 2014</div>
							<div class="col-md-8 meeting-info">
								<h3>Eagle Plaza (Pop-up) Design Charrette</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">JUL 2014</div>
							<div class="col-md-8 meeting-info">
								<h3>Conditional Use Application Submitted</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">AUG 2014</div>
							<div class="col-md-8 meeting-info">
								<h3>Eagle Plaza (Pop-up) Follow up</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">DEC 2014</div>
							<div class="col-md-8 meeting-info">
								<h3>West SoMa Neighbors Meeting 2</h3>
							</div>
						</div>
						<div class="meeting row">
							<div class="col-md-4 meeting-date">MAR 2015</div>
							<div class="col-md-8 meeting-info">
								<h3>Planning Commission Hearing (Estimated)</h3>
							</div>
						</div>
						<h1>TODO:</h1>Call-to-action: 
						Download Timeline (PDF 1-Sheet)
						<h1>Does this .pdf exist?</h1>

