38% of San Francisco’s population is made up of single adults while the average rent for a studio apartment has risen to $2,312/month, making housing affordability for urban dwellers a real problem.  

For decades, single adults have informally shared large, old Victorian flats across the City, yet few&ndash;if any&ndash;new buildings accommodate this time-honored tradition of sharing and saving.  

The 1532 Harrison Coliving Project is a new form of market-rate housing designed to serve the middle class by using what already works, but improving on it with technology and quality design&ndash;without diverting limited government funding from non-profit housing.
