<p>
  Western SoMa is a microcosm of the experiences, places and people that make San Francisco an extraordinary city.  It is home to one of the most diverse mix of uses and building types you can find in any neighborhood in the City today.  From SROs to Live-Work Lofts, from leather bars to light industrial uses, from high-end restaurants to Costco, West SOMA is a neighborhood of healthy contrast and diversity. 
</p>

<p>
  We embrace, and seek to build upon, the strengths of West SOMA's eclectic urban fabric.  Our design deploys place-making to honor West SOMA's LGBTQ culture and its post-World War II industrial working class roots. 
</p>

<button class="primary-button" data-toggle="modal" data-target="#myModal" style="margin-top:20px;">Stay Updated</button>
