<h2>News</h2>
<ul class="list-unstyled" id="the-news">
	<li><a href="http://www.spur.org/publications/article/2014-02-11/how-make-san-francisco-affordable-again">SPUR: How to Make San Francisco Affordable Again </a></li>
	<li><a href="http://www.bizjournals.com/sanfrancisco/blog/2013/12/soma-development-would-put-new-twist.html?page=all">SF Biz Times: SoMa development would put new twist on commune living</a></li>
	<li><a href="http://sf.curbed.com/archives/2013/12/09/modern_communal_living_could_be_headed_for_western_soma.php">Curbed SF: Modern Communal Living Could be Headed for Western SoMa</a></li>
</ul>
