<div id="plaza-details" class="container background-clr-1">
	<div class="row">
		<div class="col-md-6 image-block" style="background:url('img/eagle-plaza.jpg');background-position:50% 50%;"></div>
		<div class="col-md-6 text-block">
			<p>
				Recognizing that both the Western SOMA Task Force and Eastern Neighborhoods Citizen Advisory Committee have identified 12th Street as a “priority greening opportunity,” we are collaborating with <a href="http://www.upurban.org/startupublic-space.html" target="_blank">StartUPublic Space</a>, a local non-profit, our neighbors at
the Eagle, and the Planning Department’s Pavement to Parks Program, to transform a 12,710-SF portion of 12th Street near Harrison into a new public plaza and green space.</p>
			<p>
				Based on our initial conversations with the community, there seems to be interest in starting with a temporary “pop-up” plaza to test the street closure, design and programming ideas. This temporary phase we are calling “Eaglet Plaza.” If there is a positive reception, we will work closely with StartUPublic Space, the owners of
the Eagle, and our neighbors to make the plaza permanent— transforming it into Eagle Plaza. To learn more and get involved, please contact <a href="mailto:hannah@upurban.org">Hannah Smith</a> at StartUPublic Space.
</p>
			<p>
				<a href="http://www.eagletplaza.org/" target="_blank">Eaglet Plaza Website</a>
			</p>
		</div>
	</div>
</div>
