<div id="plaza-details" class="container background-clr-0">
	<div class="row">
		<div class="col-md-6 image-block" style="background:url('img/eagle-plaza.jpg');background-position:50% 50%;"></div>
		<div class="col-md-6 text-block">
			<p>
			  If approved, "Eagle Plaza" could become one of SOMA's premier public gathering spaces, supporting long-standing neighborhood traditions like the Folsom Street and Up Your Alley festivals, and serving as a quiet and green respite from the congested urban streets on a daily basis.  Our proposed design would also add two new "green alleys" to West SOMA's renowned network of fine-grained alley residential enclaves. 
			</p>
			<p>
				<a href="http://www.12thstreetplaza.org/">Eagle Plaza Website</a>
			</p>
		</div>
	</div>
</div>
