<div class="row">
	<div class="col-md-6 bspecial">
		<div class="top-border"></div>
		<div class="row">
			<div class="col-md-4 profile-image">
				<img src="/img/resident00.jpg" class="img-responsive" alt="Image of Dygu Gun">
			</div>
			<div class="col-md-8">
				<h3>Duygu Gun</h3>
				<div class="profile">
					<p>My friends call me Du'. I'm born and bred in Turkey; lived in Rome, London and Munich before I landed in San Francisco following my heart. I love meeting people from different life paths because we can only experience one life; so the rest of the story has to be told by someone else. I spend most of my time thinking about how to merge art, tech, and business. When I am not around, you may find me at a Forró party or at the circus center. I am a serial co-liver, spent only 12% of my life occupying a living space alone.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 bspecial">
		<div class="top-border"></div>
		<div class="row">
			<div class="col-md-4 profile-image">
				<img src="/img/resident01.jpg" class="img-responsive" alt="Image of Roche Janken">
			</div>
			<div class="col-md-8">
				<h3>Roche Janken</h3>
				<div class="profile">
					<p>Coliving has absolutely rocked my world since I got serious about it in 2009. I love decompressing after a long day by having a casual conversation with friends. I love being surprised by some thoughtful treat when I open the door to my fridge. I love knowing that someone will water my plants when I go out of town.  And these are just some of the very real, daily benefits of living with folks&ndash;the greater social and political implications of creating a culture based on sharing leave me warm and fuzzy inside.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 bspecial">
		<div class="top-border"></div>
		<div class="row">
			<div class="col-md-4 profile-image">
				<img src="/img/resident02.jpg" class="img-responsive" alt="Image of Sean Ahrens">
			</div>
			<div class="col-md-8">
				<h3>Sean Ahrens</h3>
				<div class="profile">
					<p>I love Coliving. I currently live at 20 Mission, a 40 person Coliving place in San Francisco's Mission District. I've made tons of amazing deep friendships here. I can't see myself ever living without community from here on out.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 bspecial">
		<div class="top-border"></div>
		<div class="row">
			<div class="col-md-4 profile-image">
				<img src="/img/resident03.jpg" class="img-responsive" alt="Image of Cy Hossain">
			</div>
			<div class="col-md-8">
				<h3>Cy Hossain</h3>
				<div class="profile">
					<p>After living in permaculture and intentional communities in Costa Rica, I was convinced that coliving is the future. Humans are social beings and thrive in environments where they are supported by each other. It's no surprise that the number of coliving environments in SF are exploding.</p>
				</div>
			</div>
		</div>
	</div>
</div>

