<p>
	The purpose of this website is to inform and engage the neighborhood and the greater San Francisco community about our project. Here you can <a href="/faq.html">find answers</a> to common questions, connect to our project vision via <a href="" class="" data-toggle="modal" data-target="#myModal">email</a> signup or <a class="scrollTo" href="#contact">social media</a>, learn about our timeline and participate in the public process.
</p>

<p>
	Most importantly, let us know if you are interested in becoming a future resident and use our site to recruit your future housemates.  We’d like to get to know you. E-mail us <a href="mailto:info@1532harrison.com" >here</a>.
</p>
