<h2>1532 Harrison</h2>
<p>The purpose of this website is to inform and engage the neighborhood and the greater San Francisco community about our project. Here you can find answers to common questions, connect to our project vision via newsletter signup or social media, learn about our timeline and participate in the public process.  </p>

<p>Most importantly, let us know if you are interested in becoming a future “coliving master tenant” and use our site to recruit your future housemates.  We’d like to get to know you! E-mail us <a href="mailto:info@1532harrison.com" style="font-size:1em;">here</a>.</p>
