			<div id="rental-alernative-details" class="collapse">
				<div class="container">
					<div class="row pad-me background-clr-2">
						<div class="col-md-5">
							<h2>Rental alternative details exposed</h2>
							<p>We may also pursue a more conventional housing program.   This option would be identical to the exterior of the Coliving housing project, but the interior would contain approximately 119 independent residential units instead of 28 Coliving houses.</p>

							<p>The proposed residential units would include a mix of studios, one-bedroom and two-bedroom residences.  A full underground garage would include, per Planning Code, up to 89 off-street parking spaces and a minimum of 105 bicycle parking spaces.  An approximately 250-gsf bicycle maintenance area would be located at street level, as well as an approximately 2,000 gsf ground floor retail space.</p>

							<p>We will choose between the Coliving and conventional before or after entitlements.  We invite your <a href="#contact" class="scrollTo">feedback</a> on the conventional approach as well as the Coliving approach.</p>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<div class="meeting row">
								<div>
									<h3>...</h3>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
