<h2>Rethinking Home</h2>
<p>Coliving employs the lessons of the emerging <a href="http://shareable.net">sharing economy</a> to transform housing into a platform that empowers residents to save resources while becoming active creators and participants in the world around them. Similar to <a href="http://coworking.org">coworking</a>, coliving can cultivate collaboration and serendipity amongst residents and beyond.  Coliving houses support sustainable and affordable lifestyles through sharing and the efficient use of resources and space.
</p>
<a href="coliving.org" target="_blank" alt="coliving.org">Visit coliving.org</a>
