<h2>
	Rethinking Home
</h2>

<p>
	CoLiving applies lessons from the <a href="http://shareable.net" target="_blank">sharing economy</a> to make market rate housing more affordable to the middle class while fostering authentic community.  Similar to <a href="http://coworking.org" target="_blank">coworking</a> spaces, CoLiving houses cultivate collaboration and sharing amongst residents. For information on what makes CoLiving so special, <a href="/faqs/Coliving.pdf" target="_blank">click here</a>.
</p>
