<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js'></script>
<script type='text/javascript' src='/js/modernizr.custom.js'></script>
<script type='text/javascript' src='/js/flipsnap.js'></script>
<script type='text/javascript' src='/js/slideshow.js'></script>
<script type='text/javascript' src='/js/jquery.scrollorama.js'></script>
<script type='text/javascript' src='/js/bootstrap-modal.js'></script>
<script type='text/javascript' src='/js/collapse.js'></script>
<script type='text/javascript' src='/js/transition.js'></script>
<script type='text/javascript' src='/js/script.js'></script>

		
<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/mbl6lqf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
