						<h2>The Team</h2>
						<p>Architects, builders, and thinkers thoughtfully rethinking the way we live.</p>

						<ul id="flipsnap-controls" class="list-unstyled" style="margin-top:0px;">
							<li class="currentToggle">Build Inc.</li>
							<li>Open Door</li>
							<li>Macy Architecture</li>
							<li>Gehl Studio</li>
							<li>Pfau Long Architecture</li>
							<li>UP</li>
							<li>Sherwood Design Engineers</li>
						</ul>
					</div>
					<div class="col-md-6-fluid image-block">

						<div class="slideshow-container">

							<div id="team-slideshow" class="slideshow">
								<div class="slide full-width-image" ><a href="http://buildinc.biz" class="build-img" ></a></div>
								<div class="slide full-width-image" ><a href="http://opendoor.io" class="open-door-img"></a></div>
								<div class="slide full-width-image" ><a href="http://www.macyarchitecture.com" class="macy-architecture-img"></a></div>
								<div class="slide full-width-image" ><a href="http://rebargroup.org" class="gehl-studio-img"></a></div>
								<div class="slide full-width-image" ><a href="http://pfaulong.com" class="phau-img"></a></div>
								<div class="slide full-width-image" ><a href="http://buildinc.biz" class="up-img"></a></div>
								<div class="slide full-width-image" ><a href="http://pfaulong.com" class="sherwood-img"></a></div>
							</div>

						</div>

